{% extends "@partials/node/node-wrapper.html.twig" %}
{% block node %}
  {% set rendered_content = content|without(
    'field_image',
    'field_intro',
  )
  %}

  <div class="field-banner">
    <div class="field-text">
      <h1 class="heading">{{ node.label }}</h1>
      <div class="field-category">
        {{ node.getCreatedTime()|date('') }}
      </div>
      {{ content.field_intro }}
    </div>
    {{ content.field_image }}
  </div>


  <div{{ content_attributes.addClass('node__content') }}>
    <div class="field-content">
      {{ rendered_content }}
    </div>
  </div>
{% endblock %}
